.carousel {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
}

#carousel {
  width: 100%;
}

.carousel_container {
  display: flex;
  width: 500px;
  align-items: center;
}

.carousel-divider {
  border-bottom: solid 5px #890620ff;
}

.carousel_viewport {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
}

.carousel_viewport::-webkit-scrollbar {
  display: none;
}

.carousel_slide {
  flex: 1 0 100%;
  height: 400px;
  scroll-snap-align: start;
}

.carousel_slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel_navigation {
  text-align: center;
  margin: 10px;
}

.carousel_navigation-button {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
  background-color: #D9D9D9;
}

.carousel_navigation-button:focus,
.carousel_navigation-button:active,
.carousel_navigation-button:hover {
  background-color: #d6abac;
}

.carousel_navigation-button.active {
  background-color: #9a3850;
}
