.contenedor {
    border-radius: 10px;
    background-color: #D9D9D9;
    font-family: Helvetica, sans-serif;
    align-items: center;

}

input {
    border-radius: 10px;
    border: 1px solid #000000;
    align-self: center;
}

label {
    font-size: 18px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
}