footer {
  background-color: var(--burgundy);
  color: var(--linen);
  overflow: hidden;
}

footer a {
  color: var(--linen);
  text-decoration: none;
}

footer .footer-item i {
  font-size: 1.4rem;
}

@media (min-width: 992px) {
  footer .footer-item i {
    font-size: 1rem;
  }
}
