footer {
  background-color: #890620ff;
  display: flex;
  color: #ebd4cbff;
  margin: 0 -8px -8px -8px;
}

footer a {
  color: #ebd4cbff;
  text-decoration: none;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.footer_item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}

/* Responsive (tablet) */
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    flex-wrap: wrap;
  }

  footer .column:nth-child(1) {
    width: 100%;
    order: 2;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  footer .column:nth-child(2),
  footer .column:nth-child(3) {
    width: 50%;
    order: 1;
  }

  footer .column:nth-child(1) .footer_item a span {
    display: none;
  }

  footer .column:nth-child(1) .footer_item {
    margin-bottom: 0;
  }

  footer .column:nth-child(1) i {
    font-size: 1.4rem;
  }
}

/* Responsive (móvil) */
@media (max-width: 767px) {
  footer {
    flex-wrap: wrap;
  }

  footer .column:nth-child(1) {
    width: 100%;
    order: 2;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  footer .column:nth-child(2),
  footer .column:nth-child(3) {
    width: 50%;
    order: 1;
  }

  footer .column:nth-child(1) .footer_item a span {
    display: none;
  }

  footer .column:nth-child(1) .footer_item {
    margin-bottom: 0;
  }

  footer .column:nth-child(1) i {
    font-size: 1.4rem;
  }
}
