.img-wrapper {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.img-wrapper:hover img {
  border: 1px solid var(--plum);
}

.text_element {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 0 5px;
}

.price_element {
  font-size: 15px;
  margin: 5px 0 0 5px;
}

.add-product-button {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: transparent;
  color: var(--crimson);
  border: 2px dashed var(--crimson);
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  font-size: 15px;
  gap: 10px;
  cursor: pointer;
}

.add-product-button i {
  color: var(--crimson);
  font-size: 24px;
}

.add-product-button:hover {
  background-color: var(--blush);
}
