<div class="photo_row">
  @for (product of products; track product.id) {
    <div class="photo_item">
      <a [routerLink]="['/product-page', product.id]" class="img">
        <img [src]="product.image" [alt]="product.alt">
      </a>
      <p class="text_element">{{ product.name }}</p>
      <p class="price_element">{{ product.price }}</p>
    </div>
  }

  @if (addProductButton) {
    <div class="photo_item">
      <a [href]="addProductButton.href" class="add-product-button">
        <i [class]="addProductButton.icon"></i>
        {{ addProductButton.label }}
      </a>
    </div>
  }
</div>
