.photo_row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 20px;
  margin: 10px 15px 15px 15px;
}

.photo_item {
  width: 100%;
}

.photo_row img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: 0.3s;
}

.photo_row img:hover {
  border: 1px solid #783f8eff;
}

.text_element {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 0 5px;
}

.price_element {
  font-size: 15px;
  margin: 5px 0 0 5px;
}

@media (max-width: 767px) {
  .photo_row {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .photo_row {
    max-width: 100%;
    margin: 10px;
  }
}
