<app-page-layout>
  <div class="container-fluid px-3 px-md-4 py-4">

    <div class="d-flex flex-column flex-md-row gap-3 gap-md-4 pb-4 border-burgundy border-bottom">

      <div class="d-flex ion-flex-column w-100 ion-align-items-center">
        <img [src]="user?.photo || 'assets/images/misc/placeholder_image.png'" [alt]="user?.name || ''"
             class="object-fit-cover rounded-circle profile-img">
      </div>

      <div class="d-flex ion-flex-column w-100">
        @if (user) {
          <div>
            <h1 id="name">{{ user.name }}</h1>
            <p id="seller">{{ user.seller }}</p>
            <p id="location">{{ user.location }}</p>
            <p id="description" class="product-description">{{ user.description }}</p>
          </div>
        }

        <div class="d-flex ion-flex-column flex-md-row gap-2 gap-md-4 mt-4">
          @if (isOwner) {
            <a [routerLink]="profileData?.editButton?.routerLink"
               class="profile-button edit-profile-button ion-text-center">
              {{ profileData?.editButton?.label }}
            </a>
          }
        </div>

      </div>
    </div>

    @if (profileData) {
      <h1 class="h4 fw-bold mt-4 mb-3" id="products_title">{{ profileData.productsTitle }}</h1>
    }

    <app-photo-row [products]="products" [addProductButton]="isOwner ? (profileData?.addProductButton ?? null) : null"/>

  </div>
</app-page-layout>
