.profile-column {
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
}

.profile-row {
  display: flex;
  border-bottom: solid 5px #890620ff;
  padding: 0;
}

.profile-row img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-column:last-child {
  position: relative;
}

.profile-button {
  background: #b6465f;
  color: #ebd4cbff;
  border: 1px solid #ebd4cbff;
  padding: 12px 20px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
  transition: 0.3s;
}

.profile-button:hover {
  background-color: #783f8eff;
  color: #c8c6d7ff;
  border: 1px solid #c8c6d7ff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .profile-row img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .profile-row {
    flex-direction: column;
  }

  .profile-row img {
    width: 100%;
    height: auto;
  }

  .profile-column {
    width: 100%;
    float: none;
  }

  .profile-column:last-child {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .profile-button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
}
