<div class="profile-row">
  <div class="profile-column">
    <img [src]="user?.photo || 'assets/images/misc/placeholder_image.png'" alt="user?.name || ''">
  </div>
  <div class="profile-column">
    <div id="information">
      @if (user) {
        <div id="information">
          @if (user) {
            <div class="product-info">
              <h1 class="product-name">{{ user.name }}</h1>
              <p class="product-seller">{{ user.seller }}</p>
              <p class="product-location">{{ user.location }}</p>
              <p id="description" class="product-description">{{ user.description }}</p>
            </div>
          }
        </div>
      }
    </div>
    @if (isOwner) {
      <a [routerLink]="profileData?.editButton?.routerLink" class="profile-button">{{ profileData?.editButton?.label }}</a>
    }
  </div>
</div>

@if (profileData) {
  <h1 id="products_title">{{ profileData.productsTitle }}</h1>
}

<app-photo-row [products]="products" [addProductButton]="isOwner ? (profileData?.addProductButton ?? null) : null"/>
