.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.edit-profile-button {
  --background: var(--crimson);
  --color: var(--linen);
  --border-color: var(--linen);
  --border-radius: 8px;
  --border-width: 1px;
  --border-style: solid;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --transition: background 0.3s, color 0.3s, border-color 0.3s;
  width: 200px;
  cursor: pointer;
}

::ng-deep .edit-profile-button:hover {
  --background: var(--plum);
  --color: var(--periwinkle);
  --border-color: var(--periwinkle);
  --border-width: 1px;
  --border-style: solid;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .profile-img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .profile-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .edit-profile-button {
    width: 100%;
    box-sizing: border-box;
  }
}
