.profile-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-button {
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  width: 200px;
}

.edit-profile-button {
  background: var(--crimson);
  color: var(--linen);
  border: 1px solid var(--linen);
}

.edit-profile-button:hover {
  background-color: var(--plum);
  color: var(--periwinkle);
  border-color: var(--periwinkle);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .profile-img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .profile-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  .profile-button {
    width: 100%;
    box-sizing: border-box;
  }
}
