.border-burgundy {
  border-color: var(--burgundy) !important;
  border-bottom-width: 5px !important;
}

.carousel-wrapper {
  width: 500px;
}

.product-btn {
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  width: 200px;
}

.wishlist-btn {
  background: var(--crimson);
  color: var(--linen);
  border: 1px solid var(--linen);
}

.wishlist-btn:hover {
  background-color: var(--plum);
  color: var(--periwinkle);
  border-color: var(--periwinkle);
}

.buy-btn {
  background: var(--dusty-rose);
  color: black;
  border: 1px solid var(--dusty-rose);
}

.buy-btn:hover {
  background-color: var(--plum);
  color: var(--periwinkle);
  border-color: var(--periwinkle);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-wrapper {
    width: 350px;
  }

  .product-btn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .carousel-wrapper {
    width: 100%;
  }

  .product-btn {
    width: 100%;
  }
}
