@if (product) {
  <main class="product_container_page">

    <div class="product_container">
      <div class="carousel_container">
        <app-carousel [carousel]="carousel"></app-carousel>
      </div>

      <div class="product_side">

        <div class="user_reference">
          @if (user) {
            <img [src]="user.photo" [alt]="user.name">
            <a [routerLink]="['/profile']" [queryParams]=" {seller: product.seller}">{{ user.name }}</a>
          }
        </div>

        <app-product-info [product]="product"/>

        <div class="product_buttons">
          @if (isOwner) {
            <a [routerLink]="['/upload-product']" [queryParams]="{ edit: product.id }"
               class="wishlist_button">Editar</a>
            <a (click)="deleteProduct()" class="buy_button">Eliminar</a>
          } @else {
            <a class="wishlist_button" (click)="toggleWishlist()" [class.active]="isInWishlist">
              {{ isInWishlist ? ui?.wishlistButtonActive : ui?.wishlistButton }}
            </a>
            <a [routerLink]=" ['/payment', product.id]" class="buy_button">{{ ui?.buyButton }}</a>
          }
        </div>

      </div>
    </div>

    @if (relatedProducts.length > 0) {
      <h1 class="related_title">{{ ui?.relatedTitle }}</h1>
      <app-photo-row [products]="relatedProducts"/>
    }

  </main>
}
