@if (config) {
  <app-page-layout>
    <h1 class="text-center mt-4">{{ config.title }}</h1>
    <div class="d-flex flex-column align-items-center mt-4">
      <div class="mx-auto rounded-3 p-3 form-container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="mb-3">
            <label for="email" class="form-label">{{ config.fields[0].label }}</label>
            <ion-input type="email" id="email" formControlName="email" fill="outline"
                       [placeholder]="config.fields[0].placeholder"
                       [class.is-invalid]="email.invalid && email.touched"></ion-input>
            @if (email.touched && email.hasError('required')) {
              <span class="input-error">El email es obligatorio</span>
            } @else if (email.touched && email.hasError('email')) {
              <span class="input-error">Introduce un email válido</span>
            }
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">{{ config.fields[1].label }}</label>
            <ion-input type="password" formControlName="password" id="password" fill="outline"
                       [placeholder]="config.fields[1].placeholder"
                       [class.is-invalid]="password.invalid && password.touched"></ion-input>
            @if (password.touched && password.hasError('required')) {
              <span class="input-error">La contraseña es obligatoria.</span>
            } @else if (password.touched && password.hasError('minlength')) {
              <span class="input-error">Mínimo 8 caracteres.</span>
            }
          </div>

          <div class="d-grid d-md-flex justify-content-md-center mt-3">
            <ion-button fill="solid" class="form-btn" type="submit" [disabled]="loading">
              {{ loading ? 'Cargando...' : config.submitLabel }}
            </ion-button>
          </div>
          @if (errorMessage) {
            <p class="input-error text-center mt-2">{{ errorMessage }}</p>
          }

        </form>
      </div>
    </div>

    <div class="mt-2 text-center">
      <p>{{ config.forgotLink.text }} <a href="#">{{ config.forgotLink.linkText }}</a></p>
      <p>{{ config.registerLink.text }} <a routerLink="/register">{{ config.registerLink.linkText }}</a></p>
    </div>
  </app-page-layout>
}
