<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carousel</title>
    <link rel="stylesheet" href="../styles/carousel.css">
</head>
<body>
<section class="carousel">
    <div class="carousel_viewport">
        <div id="slide1" class="carousel_slide">
            <img src="../images/placeholder_image.png" alt="">
        </div>
        <div id="slide2" class="carousel_slide">
            <img src="../images/placeholder_image.png" alt="">
        </div>
        <div id="slide3" class="carousel_slide">
            <img src="../images/placeholder_image.png" alt="">
        </div>
    </div>
    <div class="carousel_navigation">
        <a href="#slide1" class="carousel_navigation-button"></a>
        <a href="#slide2" class="carousel_navigation-button"></a>
        <a href="#slide3" class="carousel_navigation-button"></a>
    </div>
</section>
</body>
</html>