<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lorem Ipsum</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<h1>Lorem Ipsum</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed varius lectus. Integer venenatis accumsan
    rhoncus. Proin et tortor convallis, vulputate augue non, consequat est. Nulla facilisi. Vivamus ultricies luctus
    odio, vel commodo nunc iaculis sit amet. In hac habitasse platea dictumst. Curabitur eu lectus at arcu tempor
    sodales.
    Vestibulum et risus nisi. Integer vitae neque massa. Sed quis nibh eros. Sed quam magna, molestie in pharetra et,
    blandit id libero. Nulla eget orci faucibus, facilisis massa vitae, volutpat ipsum. Phasellus elementum libero nec
    nisl molestie lacinia. Cras auctor quam nec tellus suscipit vestibulum. Nunc et lobortis nisi.</p>
<h1>Lorem Ipsum</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed varius lectus. Integer venenatis accumsan
    rhoncus. Proin et tortor convallis, vulputate augue non, consequat est. Nulla facilisi. Vivamus ultricies luctus
    odio, vel commodo nunc iaculis sit amet. In hac habitasse platea dictumst. Curabitur eu lectus at arcu tempor
    sodales.
    Vestibulum et risus nisi. Integer vitae neque massa. Sed quis nibh eros. Sed quam magna, molestie in pharetra et,
    blandit id libero. Nulla eget orci faucibus, facilisis massa vitae, volutpat ipsum. Phasellus elementum libero nec
    nisl molestie lacinia. Cras auctor quam nec tellus suscipit vestibulum. Nunc et lobortis nisi.</p>
<h1>Lorem Ipsum</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed varius lectus. Integer venenatis accumsan
    rhoncus. Proin et tortor convallis, vulputate augue non, consequat est. Nulla facilisi. Vivamus ultricies luctus
    odio, vel commodo nunc iaculis sit amet. In hac habitasse platea dictumst. Curabitur eu lectus at arcu tempor
    sodales.
    Vestibulum et risus nisi. Integer vitae neque massa. Sed quis nibh eros. Sed quam magna, molestie in pharetra et,
    blandit id libero. Nulla eget orci faucibus, facilisis massa vitae, volutpat ipsum. Phasellus elementum libero nec
    nisl molestie lacinia. Cras auctor quam nec tellus suscipit vestibulum. Nunc et lobortis nisi.</p>
<h1>Lorem Ipsum</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed varius lectus. Integer venenatis accumsan
    rhoncus. Proin et tortor convallis, vulputate augue non, consequat est. Nulla facilisi. Vivamus ultricies luctus
    odio, vel commodo nunc iaculis sit amet. In hac habitasse platea dictumst. Curabitur eu lectus at arcu tempor
    sodales.
    Vestibulum et risus nisi. Integer vitae neque massa. Sed quis nibh eros. Sed quam magna, molestie in pharetra et,
    blandit id libero. Nulla eget orci faucibus, facilisis massa vitae, volutpat ipsum. Phasellus elementum libero nec
    nisl molestie lacinia. Cras auctor quam nec tellus suscipit vestibulum. Nunc et lobortis nisi.</p>
</body>