<div class="column">
    <div class="footer_item">
        <i class="fa fa-brands fa-facebook"></i>
        <a href="https://www.facebook.com">Lorem Ipsum</a>
    </div>
    <div class="footer_item">
        <i class="fa fa-brands fa-instagram"></i>
        <a href="https://www.instagram.com">Lorem Ipsum</a>
    </div>
    <div class="footer_item">
        <i class="fa fa-brands fa-x-twitter"></i>
        <a href="https://www.x.com">Lorem Ipsum</a>
    </div>
</div>
<div class="column">
    <h1>Lorem Ipsum</h1>
    <a href="contact_page.html">Lorem Ipsum</a>
</div>
<div class="column">
    <h1>Lorem Ipsum</h1>
    <a href="faq.html">Lorem Ipsum</a>
</div>