<div class="column">
    <div class="footer_item">
        <a href="">
            <i></i>
            <span>Lorem Ipsum</span>
        </a><br/>
    </div>
    <div class="footer_item">
        <a href="">
            <i></i>
            <span>Lorem Ipsum</span>
        </a><br/>
    </div>
    <div class="footer_item">
        <a href="">
            <i></i>
            <span>Lorem Ipsum</span>
        </a>
    </div>
</div>
<div class="column">
    <h1>Lorem Ipsum</h1>
    <a href="contact-page.html">Lorem Ipsum</a>
</div>
<div class="column">
    <h1>Lorem Ipsum</h1>
    <a href="faq.html">Lorem Ipsum</a>
</div>