<div class="column">
    <div class="footer_item">
        <img src="../images/placeholder_image.png" alt="" class="footer_photo">
        <a href="">Lorem Ipsum</a><br/>
    </div>
    <div class="footer_item">
        <img src="../images/placeholder_image.png" alt="" class="footer_photo">
        <a href="">Lorem Ipsum</a><br/>
    </div>
    <div class="footer_item">
        <img src="../images/placeholder_image.png" alt="" class="footer_photo">
        <a href="">Lorem Ipsum</a>
    </div>
</div>
<div class="column">
    <h1>Lorem Ipsum</h1>
    <a href="contact_page.html">Lorem Ipsum</a>
</div>
<div class="column">
    <h1>Lorem Ipsum</h1>
    <a href="faq.html">Lorem Ipsum</a>
</div>