<div class="form_container">
    <form class="form_group" action="#" method="POST">
        <div class="element">
            <label for="field_1">Lorem Ipsum</label>
            <input type="text" id="field_1" placeholder="Lorem ipsum dolor sit amet..." required>
        </div>
        <div class="row">
            <div class="element">
                <label for="field_2">Lorem Ipsum</label>
                <input type="text" id="field_2" placeholder="Lorem ipsum dolor sit amet..." required>
            </div>

            <div class="element">
                <label for="field_3">Lorem Ipsum</label>
                <input type="text" id="field_3" placeholder="Lorem ipsum dolor sit amet..." required>
            </div>
        </div>

        <div class="element">
            <label for="field_4">Lorem Ipsum</label>
            <select id="field_4">
                <option value="opcion1">Lorem Ipsum</option>
                <option value="opcion2">Lorem Ipsum</option>
                <option value="opcion3">Lorem Ipsum</option>
            </select>
        </div>

        <div class="element">
            <label for="field_5">Lorem Ipsum</label>
            <textarea id="field_5" placeholder="Lorem ipsum dolor sit amet..." required></textarea>
        </div>

        <div class="add-photo" id="file_charge">
            <i></i>
            <p>Lorem ipsum dolor sit amet</p>
            <input type="file" id="file_input" accept="image/*" multiple>
            <div class="file_preview"></div>
        </div>
        <button class="button">Lorem Ipsum</button>
    </form>
</div>