<div class="image_container">
    <a href="index.html" class="logo">
        <img src="../images/misc/placeholder_image.png" alt="Webpage Logo">
    </a>
</div>
<div class="nav_bar">
    <i class="fa fa-search"></i>
    <input type="text" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
</div>
<div class="registration_login">
    <img src="" alt="Foto de perfil" class="header_profile_photo" id="profileButton">
    <a href="login.html" class="login_button" id="loginButton">Lorem Ipsum</a>
    <a href="register.html" class="register_button" id="registerButton"">Lorem Ipsum</a>
</div>