<h1 class="header-text">Lorem Ipsum</h1>
<div class="form_container">
    <form class="form_group" action="index.html" method="POST">
        <div class="element">
            <label for="email">Lorem Ipsum</label>
            <input type="email" name="email" id="email" required/>
        </div>
        <div class="element">
            <label for="password">Lorem Ipsum</label>
            <input type="password" name="password" id="password" required minlength="8"/>
        </div>
        <button type="submit" class="button">Lorem Ipsum</button>
    </form>
</div>
<div>
    <span class="register_password_forgot">Lorem
        <a href="#">ipsum</a>
    </span>
    <span class="register_password_forgot">Lorem
        <a href="register.html">ipsum</a>
    </span>
</div>