<div class="photo_row">
    <div class="photo_item">
        <a href="product_page.html" class="img">
            <img src="../images/placeholder_image.png" alt="Placeholder image">
        </a>
        <p class="text_element">Lorem Ipsum</p>
        <p class="price_element">Lorem Ipsum</p>
    </div>
    <div class="photo_item">
        <a href="product_page.html" class="img">
            <img src="../images/placeholder_image.png" alt="Placeholder image">
        </a>
        <p class="text_element">Lorem Ipsum</p>
        <p class="price_element">Lorem Ipsum</p>
    </div>
    <div class="photo_item">
        <a href="product_page.html" class="img">
            <img src="../images/placeholder_image.png" alt="Placeholder image">
        </a>
        <p class="text_element">Lorem Ipsum</p>
        <p class="price_element">Lorem Ipsum</p>
    </div>
</div>