<h1 class="header-text">Lorem Ipsum</h1>
<div class="form_container">
    <form class="form_group" action="#" method="POST">
        <div class="element">
            <label for="name">Lorem ipsum</label>
            <input type="text" name="name" id="name" required/>
        </div>
        <div class="element">
            <label for="username">Lorem ipsum</label>
            <input type="text" name="username" id="username" required minlength="3" maxlength="20"
                   pattern="[a-zA-Z0-9]+"/>
        </div>
        <div class="element">
            <label for="email">Lorem ipsum</label>
            <input type="email" name="email" id="email" required/>
        </div>
        <div class="element">
            <label for="password">Lorem ipsum</label>
            <input type="password" name="password" id="password" required minlength="8"/>
        </div>
        <div class="element">
            <label for="password_confirm">Lorem ipsum</label>
            <input type="password" name="password_confirm" id="password_confirm" required minlength="8"/>
        </div>
        <button class="button">Lorem Ipsum</button>
    </form>
</div>
<div>
    <span class="register_password_forgot">Lorem
            <a href="login.html">ipsum</a>
    </span>
</div>