<h1 class="header-text">Lorem Ipsum</h1>
<div class="form_container">
    <form class="form_group" action="#" method="POST">
        <div class="form_field">
            <label for="name">Lorem ipsum</label>
            <input type="text" name="name" id="name"/>
        </div>
        <div class="form_field">
            <label for="username">Lorem ipsum</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div class="form_field">
            <label for="email">Lorem ipsum</label>
            <input type="email" name="email" id="email"/>
        </div>
        <div class="form_field">
            <label for="password">Lorem ipsum</label>
            <input type="password" name="password" id="password"/>
        </div>
        <div class="form_field">
            <label for="password_confirm">Lorem ipsum</label>
            <input type="password" name="password_confirm" id="password_confirm"/>
        </div>
        <button class="button">Lorem Ipsum</button>
    </form>
</div>
<div>
    <span class="register_password_forgot">Lorem
            <a href="login.html">ipsum</a>
    </span>
</div>