body {
    font-family: Helvetica, sans-serif;
    background-color: #f5e4e9;
}

.header-text {
    margin: 0 10px 0 10px;
    font-size: 30px;
    text-align: center;
}

label {
    margin: 0 10px 5px 5px;
    font-size: 18px;
}

p {
    margin: 0 5px 5px 5px;
}

input {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    align-content: center;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    font-family: Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    min-height: 160px;
    resize: vertical;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 5px;
}

.form_container {
    background-color: #da9f93ff;
    width: 30%;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
}

.button {
    margin: 10px auto;
    background: #b6465fff;
    color: #ebd4cbff;
    border: 1px solid #ebd4cbff;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.register_password_forgot {
    display: block;
    text-align: center;
}

.element {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.row {
    display: flex;
    gap: 5px;
}

.row .element {
    flex: 1;
}

#file_charge {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#file_charge input {
    border: none;
    margin: 10px auto;
}

select {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    align-content: center;
    display: block;
    width: 100%;
    box-sizing: border-box;
}