.product_container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    border-bottom: solid 5px #890620ff;
}

.carousel_container {
    display: flex;
    width: 500px;
}

.product_side {
    display: flex;
    flex-direction: column;
}

.user_reference {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.user_reference img {
    width: 45px; 
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.user_reference a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.product_buttons {
    text-decoration: none;
    display: flex;
    gap: 300px;
    margin-top: 20px;
}

.product_buttons a {
    text-decoration: none;
}

.buy_button {
    background: #d6abac;
    color: black;
    border: solid 1px #d6abac;
    width: 200px;
    text-align: center;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}


.wishlist_button {
    background: #b6465fff;
    color: #ebd4cbff;
    border: 1px solid #ebd4cbff;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}
