.profile-column {
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
}

.profile-row {
    display: flex;
    border-bottom: solid 5px #890620ff;
    padding: 0;
}

.profile-row img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.profile-column:last-child {
    position: relative;
}

.profile-button {
    background: #b6465f;
    color: #ebd4cbff;
    border: 1px solid #ebd4cbff;
    padding: 12px 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}

.add-product-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    color: #b6465f;
    border: 2px dashed #b6465f;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
    gap: 10px;
    cursor: pointer;
}

.add-product-button i {
    color: #b6465f;
    font-size: 24px;
}

.add-product-button:hover {
    background-color: #f5e4e9;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .profile-row img {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .profile-row {
        flex-direction: column;
    }

    .profile-row img {
        width: 40%;
    }

    .profile-column {
        width: 100%;
        float: none;
    }

    .profile-column:last-child {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .profile-button {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
}

@media (max-width: 479px) {
    .profile-column:last-child {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .profile-row img {
        width: 60%;
    }

    .add-product-button {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    .profile-button {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
}