body {
    font-family: Helvetica, sans-serif;
    background-color: #f5e4e9;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

h1 {
    font-size: 24px;
    font-weight: bolder;
}

.text_element {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 0 5px;
}

.price_element {
    font-size: 15px;
    margin: 5px 0 0 5px;
}

.image_container img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
}

.nav_bar {
    flex: 1;
    margin: 10px 0 0 13px;
    position: relative;
}

.nav_bar input {
    width: 80%;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    background-color: transparent;
    color: #ebd4cbff;
    border: solid 1px #ebd4cbff;
}

.nav_bar input::placeholder {
    color: #ebd4cbff;
}

.nav_bar i {
    position: absolute;
    margin: 5px 0 0 6px;
    color: gray;
    color: #ebd4cbff;
}

.nav_bar .fa-search {
    margin-top: 10px;
}

.registration_login {
    margin: 15px 0 0 0;
    gap: 10px;
    padding: 6px 0 0 0;
}

.registration_login a {
    font-size: 15px;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

.login_button {
    color: #d6abac;
    border: solid 1px #d6abac;
    border-radius: 10px;
}

.register_button {
    background-color: #d6abac;
    color: #2c0703ff;
    border-radius: 10px;
    margin-right: 10px;
}

header {
    display: flex;
    background-color: #b6465fff;
    padding: 5px 5px 5px 5px;
    margin: -8px -8px 0 -8px;
}

footer {
    background-color: #890620ff;
    display: flex;
    color: #ebd4cbff;
    margin: 0 -8px -8px -8px;
}

footer a {
    color: #ebd4cbff;
}

.photo_row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 10px 15px 15px 15px;
}

.photo_row img {
    width: 210px;
    height: 210px;
}

.footer_photo {
    width: 16px;
    height: 16px;
}

.footer_item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}

.wish_bar {
    margin: 30px 0 10px 15px;
}

.wish_bar input {
    width: 200px;
    border-radius: 10px;
    padding: 6px 4px 6px 30px;
}

.wish_bar select {
    margin-top: 10px;
    border-radius: 10px;
    padding: 4px;
}

.wish_bar i {
    position: absolute;
    margin: 5px 0 0 6px;
    color: gray;
}

.wish_bar .fa-search {
    margin-top: 7px;
}

#section {
    border-bottom: solid 5px #890620ff;
}

i {
    color: #ebd4cbff;
}