.page-container {
  background-color: var(--rose-tan);
  max-width: 1000px;
}

.product-img {
  width: 300px;
  height: 300px;
}

.product-description {
  max-width: 500px;
}

.confirm-btn {
  --background: var(--crimson);
  --color: var(--linen);
  --border-color: var(--linen);
  --border-width: 1px;
  --border-style: solid;
  --border-radius: 12px;
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

::ng-deep .confirm-btn:hover {
  --background: var(--plum);
  --color: var(--periwinkle);
  --border-color: var(--periwinkle);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product-img {
    width: 220px;
    height: 220px;
  }

  .product-description {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .product-img {
    width: 200px;
    height: 200px;
  }

  .product-description {
    max-width: 100%;
  }

  .confirm-btn {
    width: 100%;
  }
}
