.page-container {
  background-color: var(--rose-tan);
  max-width: 1000px;
}

.border-burgundy {
  border-color: var(--burgundy) !important;
  border-bottom-width: 5px !important;
}

.product-img {
  width: 300px;
  height: 300px;
}

.product-description {
  max-width: 500px;
}

.confirm-btn {
  background: var(--crimson);
  color: var(--linen);
  border-color: var(--linen) !important;
  cursor: pointer;
  transition: 0.3s;
}

.confirm-btn:hover {
  background-color: var(--plum);
  color: var(--periwinkle);
  border-color: var(--periwinkle) !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product-img {
    width: 220px;
    height: 220px;
  }

  .product-description {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .product-img {
    width: 200px;
    height: 200px;
  }

  .product-description {
    max-width: 100%;
  }

  .confirm-btn {
    width: 100%;
  }
}
